/*The Beggining of the style.css file which will contain all of our styling code */
* {
    box-sizing: border-box;
}

/* After each row place white space clear both sides so no content clips it. */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Every col- class will have a left float so that content can wrap around the left hand side the colum will have a padding of 15px giving space within each div */
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* Mobile colums will display at 100% width so they cover the entire device from left to right*/
[class*="col-"] {
  width: 100%;
}

/*Checks if the screen is bigger than 480 pixels but smaller than 600px due to the cascading nature of css. Changes the width of the .col- class accordingly */
@media only screen and (min-width: 480px) {
  /* For Smaller Devices: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/*Checks if the screen is bigger than 600 pixels but smaller that 768px due to the cascading nature of css. Changes the width of the .col- class accordingly */
@media only screen and (min-width: 600px) {
  /* For Tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

/*Checks if the screen is bigger than 768 pixels and changes the width of the .col- class accordingly*/
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
