/*The Beggining of the style.css file which will contain all of our styling code */
body, html{
  margin: 0px;
  height: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
  font-size: 25px;
}

 h2, h3 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.5px;
}

p {
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0.5px;
}

/* After each row place white space clear both sides so no content clips it. */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Every col- class will have a left float so that content can wrap around the left hand side the colum will have a padding of 15px giving space within each div */
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* Mobile colums will display at 100% width so they cover the entire device from left to right*/
[class*="col-"] {
  width: 100%;
}

.header {
  top: 0;
  left: 0;
  min-height: 50px;
  width: 100%;
  color: black;
  position: relative;
  z-index: 1;
  padding: 0px 15px 0px 15px;
  border-bottom: 1px solid black;
}

.site-title {
  float: left;
}

.drop-nav {
  color: white;
  text-align: center;
  position: fixed;
  right: 0;
  width: 100%;
  max-height: 0;
  letter-spacing: 2px;
  font-size: 130%;
  top: 50px;
  z-index: 1;
  overflow-x: hidden;
  overflow: hidden;
  background-color: red;
}

.drop-nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px 8px 15px 8px;
  font-size: 15px;
}

.drop-nav a:hover {
  color: blue;
}

.open-menu {
  font-size: 30px;
  margin-top: 10px;
  float: right;
  z-index: 1;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
    height: 49px;
    background-color: blue;
    color: white;
}

/*Checks if the screen is bigger than 480 pixels but smaller than 600px due to the cascading nature of css. Changes the width of the .col- class accordingly */
@media only screen and (min-width: 480px) {
  /* For Smaller Devices: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/*Checks if the screen is bigger than 600 pixels but smaller that 768px due to the cascading nature of css. Changes the width of the .col- class accordingly */
@media only screen and (min-width: 600px) {
  /* For Tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

/*Checks if the screen is bigger than 768 pixels and changes the width of the .col- class accordingly*/
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    h1 {
      font-size: 30px;
      letter-spacing: 1.5px;
    }

    h2, h3 {
      font-size: 25px;
    }

    p {
      font-size: 20px;
      letter-spacing: 0.5px;
      line-height: 1.5;
    }

    .header {
      min-height: 60px;
    }

    .open-menu {
      display: none;
    }

    .drop-nav {
      color: white;
      text-align: right;
      position: absolute;
      right: 0;
      width: 100%;
      max-height: 0%;
      letter-spacing: 2px;
      font-size: 130%;
      transition: initial;
      top: 50px;
      z-index: 1;
      overflow: initial;
      margin: -45px 20px 0px 20px;
      background-color: initial;
    }

    .drop-nav a {
      color: red;
      display: inline-block;
      padding: 20px 8px 15px 8px;
      font-size: 23px;
      letter-spacing: 2px;
    }

    .drop-nav a:hover {
      color: white;
    }
}

/*Checks if the screen is bigger than 1028 pixels and changes the width of the .col- class accordingly*/
@media only screen and (min-width: 1028px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    h1 {
      font-size: 30px;
      letter-spacing: 2px;
    }

    h2, h3 {
      font-size: 25px;
      letter-spacing: 2px;
    }

    p {
      font-size: 20px;
      letter-spacing: 0.5px;
      line-height: 1.5;
    }

    .header {
      min-height: 70px;
    }

    .open-menu {
      display: none;
    }

    .drop-nav {
      color: white;
      text-align: right;
      position: absolute;
      right: 0;
      width: 100%;
      max-height: 0%;
      letter-spacing: 2px;
      font-size: 130%;
      transition: initial;
      top: 50px;
      z-index: 1;
      overflow: initial;
      margin: -45px 20px 0px 20px;
      background-color: initial;
    }

    .drop-nav a {
      padding: 20px 8px 15px 8px;
      font-size: 23px;
      letter-spacing: 3px;
    }

    .drop-nav a:hover {
      color: white;
    }
}
